body { 
    background-color: #000011;
    color: #eeeeee;
}

a:visited {
    color: #333366;
    text-decoration: none; 
}

a:link {
    color: #7777ff;
    text-decoration: none;
}

a:hover {
    color: #bbbbff;
}

